---
import Layout from '../../layouts/Layout.astro';
import AwardsSection from '../../sections/AwardsSection.astro';
import GameInfoSection from '../../sections/GameInfoSection.astro';
import GameTrailerSection from '../../sections/GameTrailerSection.astro';
import GameContainer from '../../components/GameContainer.astro';
import GalleryCarousel from '../../components/GalleryCarousel.jsx';
import { getLangStaticPaths } from '../../utils/i18n.js';

export async function getStaticPaths() {
  return getLangStaticPaths();
}

const galleryImages = [
  {
    src: '/assets/AresAtlas/Ares1.webp',
    alt: 'Ares Atlas 1'
  },
  {
    src: '/assets/AresAtlas/Ares2.webp',
    alt: 'Ares Atlas 2'
  },
  {
    src: '/assets/AresAtlas/Ares3.webp',
    alt: 'Ares Atlas 3'
  },
  {
    src: '/assets/AresAtlas/Ares4.webp',
    alt: 'Ares Atlas 4'
  },
  {
    src: '/assets/AresAtlas/Ares5.webp',
    alt: 'Ares Atlas 5'
  },
  {
    src: '/assets/AresAtlas/Ares6.webp',
    alt: 'Ares Atlas 6'
  },
  {
    src: '/assets/AresAtlas/Ares7.webp',
    alt: 'Ares Atlas 7'
  },
  {
    src: '/assets/AresAtlas/Ares8.webp',
    alt: 'Ares Atlas 8'
  },
];
---

<Layout>
    <main class="game-page">

        <GameContainer 
            imgSrc="/assets/aresatlas.webp"
            title="ARES ATLAS"
            showButton={false}
            showOverlay={false}
        />

        <GameTrailerSection 
            videoId="-oyWQNy16fI"
            title="Game Trailer"
            controls={true}
            modestbranding={true}
            buttonLink="https://mermelada-games.itch.io/ares-atlas"
        />

        <GameInfoSection 
            title="About the Game"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            imageSrc="/assets/AresAtlas/aresatlas_title.svg"
        />

        <GalleryCarousel images={galleryImages} client:load />

        <AwardsSection awards={[
            {
                title: "Maximum Fun Award - LUDI awards 2024",
            },
            {
                title: "Selected for further development - LUDI awards 2024",
            }
        ]} />

    </main>
</Layout>

<style>
    .game-page {
        min-height: 100vh;
        padding: 0;
        background-color: var(--background-color);
    }
</style>
