---
import Layout from '../../layouts/Layout.astro';
import AwardsSection from '../../sections/AwardsSection.astro';
import GameInfoSection from '../../sections/GameInfoSection.astro';
import GameTrailerSection from '../../sections/GameTrailerSection.astro';
import GameContainer from '../../components/GameContainer.astro';
import GalleryCarousel from '../../components/GalleryCarousel.jsx';
import { getLangStaticPaths, t } from '../../utils/i18n.js';

export async function getStaticPaths() {
  return getLangStaticPaths();
}

const { lang } = Astro.params;

const galleryImages = [
  {
    src: '/assets/mots/Mots1.webp',
    alt: 'Mots 1'
  },
  {
    src: '/assets/mots/Mots2.webp',
    alt: 'Mots 2'
  },
  {
    src: '/assets/mots/Mots3.webp',
    alt: 'Mots 3'
  },
  {
    src: '/assets/mots/Mots4.webp',
    alt: 'Mots 4'
  },
  {
    src: '/assets/mots/Mots5.webp',
    alt: 'Mots 5'
  },
  {
    src: '/assets/mots/Mots6.webp',
    alt: 'Mots 6'
  },
  {
    src: '/assets/mots/Mots7.webp',
    alt: 'Mots 7'
  },
];
---

<Layout name="Mots" description={t('meta-mots-description', Astro.params.lang)}>
    <main class="game-page">

        <GameContainer 
            imgSrc="/assets/mots.webp"
            title="MOTS"
            showButton={false}
            showOverlay={false}
        />

        <GameTrailerSection 
            videoId="5fJGjSULFCs"
            title="Game Trailer"
            controls={true}
            modestbranding={true}
            showButton={false}
        />

        <GameInfoSection 
            title={t('game-about', lang)}
            text={t('mots-about', lang)}
            imageSrc='/assets/mots/mots_title.svg'
        />

        <GalleryCarousel images={galleryImages} client:load />

        <AwardsSection awards={[
            {
                title: t('mots-max-fun', lang),
            },
            {
                title: t('mots-selected', lang),
            }
        ]} />

    </main>
</Layout>

<style>
    .game-page {
        min-height: 100vh;
        padding: 0;
        background-color: var(--background-color);
    }
</style>
