---
import '../styles/global.css';
import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';
import { ClientRouter } from 'astro:transitions';

const { name, description } = Astro.props;
const lang = Astro.params?.lang ?? 'en';
const baseUrl = "https://www.mermeladagames.com";

let path = Astro.url.pathname.replace(`/${lang}`, "");
if (path === "/") path = "";
const supportedLangs = ['es', 'ca', 'en'];
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="robots" content="index, follow" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{name ? `${name} - Mermelada Games` : "Mermelada Games"}</title>
		{description && <meta name="description" content={description} />}

		<link rel="canonical" href={`${baseUrl}${lang === 'en' && path === '' ? '/' : `/${lang}${path}`}`} />

		{supportedLangs.map(l => (
			<link rel="alternate" hreflang={l} href={`${baseUrl}/${l}${path}`} />
		))}
		<link rel="alternate" hreflang="x-default" href={`${baseUrl}/`} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={`${baseUrl}${lang === 'en' && path === '' ? '/' : `/${lang}${path}`}`} />
		<meta property="og:title" content="Mermelada Games" />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://www.mermeladagames.com/assets/merme.png" />
		<meta property="og:site_name" content="Mermelada Games" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content={`${baseUrl}${lang === 'en' && path === '' ? '/' : `/${lang}${path}`}`} />
		<meta name="twitter:title" content="Mermelada Games" />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="https://www.mermeladagames.com/assets/merme.png" />

		
		<script type="application/ld+json" is:inline>
		[
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "Mermelada Games",
				"url": "https://www.mermeladagames.com",
				"logo": "https://www.mermeladagames.com/assets/mermeSvg1.svg",
				"description": "Mermelada Games is a Barcelona-based indie studio making unique, fun, and creative video games. Discover our latest games and meet the team.",
				"email": "gamesmermelada@gmail.com",
				"sameAs": [
					"https://mermelada-games.itch.io/",
					"https://www.instagram.com/mermelada.games/",
					"https://www.linkedin.com/company/mermeladagames",
					"https://x.com/gamesmermelada",
					"https://www.youtube.com/@MermeladaGames"
				]
			},
			{
				"@context": "https://schema.org",
				"@type": "WebSite",
				"name": "Mermelada Games",
				"url": "https://www.mermeladagames.com",
				"description": "Mermelada Games is a Barcelona-based indie studio making unique, fun, and creative video games. Discover our latest games and meet the team.",
				"publisher": {
						"@type": "Organization",
						"name": "Mermelada Games"
				}
			}
		]
		</script>

		<ClientRouter />

		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-3H2BEQP24K"></script>
		<script type="text/partytown">
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-3H2BEQP24K');
		</script>
	</head>
	<body>
		<div class="layout-wrapper">
			<Header />
			<main class="layout-main">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.layout-wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	.layout-main {
		flex: 1 0 auto;
		width: 100%;
		margin-top: 80px;
	}

	@media (max-width: 767px) {
		.layout-main {
			margin-top: 67px;
		}
	}

	@view-transition {
		navigation: auto;
	}

	::view-transition-old(root),
	::view-transition-new(root) {
		animation-duration: 0.5s;
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
</style>
